In [1]:
k=[2,3,4,5,6,7]

In [2]:
k[0]+1

3

In [3]:
k1=[]

In [8]:
k1.append(k[0]+1)

In [9]:
k1

[3]

In [10]:
# this is loop . it is use for easy way for add value
k

[2, 3, 4, 5, 6, 7]

In [11]:
for i in k:
    print(i)

2
3
4
5
6
7

In [13]:
for i in k :
    print(k)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]

In [18]:
# this is loop functio it is use for add 1 in every data
for i in k :
    print(i+1)

3
4
5
6
7
8

In [22]:
k1=[]
for  i in k:
    print (i+1)
    k1.append(i+1)
    k1

3
4
5
6
7
8

In [23]:
k1

[3, 4, 5, 6, 7, 8]

In [24]:
# this is convert in upper case than coolect one list
k=['sudh', 'pwskills', 'kumar', 'course']

In [25]:
for i in k:
    print(i)

sudh
pwskills
kumar
course

In [26]:
# this is convert in upper case (capital latter all off)
k1=[]
for i in k:
    print(i)
    k1.append(i.upper())

sudh
pwskills
kumar
course

In [27]:
k1

['SUDH', 'PWSKILLS', 'KUMAR', 'COURSE']

In [28]:
# make two seprate data which have one data in form of string data and one data of integer data
j=[1,2,3,4,5,'sudh', 'kumar', 345,47.78,'bcv']

In [31]:
j1_num=[]
j2_str=[]
for i in j:
    if type (i) == int or type(i) ==float:
        j1_num.append(i)
    else:
        j2_str.append(i)

In [33]:
j1_num

[1, 2, 3, 4, 5, 345, 47.78]

In [34]:
j2_str

['sudh', 'kumar', 'bcv']